<?xml version="1.0" encoding="UTF-8"?>
<form i18nBaseUri="timetable.resource.module:">
	<tab id="module">
		<fieldset id="module">
			<field name="name" required="true" maxLength="50">
				<rule validator="match" message="timetable.resource.module:validation.error.name.format">
					<param name="regex" value="^[a-zA-Z0-9 ]+$" />
				</rule>
			</field>

			<field name="description" required="true" maxLength="100"></field>

			<field name="abbreviation" required="true" maxLength="50">
				<rule validator="match" message="timetable.resource.module:validation.error.abbreviation.format">
					<param name="regex" value="^[a-zA-Z0-9 \-_]+$" />
				</rule>
			</field>

			<field name="assignSameLecturer"            control="yesNoSwitch" defaultValue="true" />
			<field name="addRelatedCoursesOrClassTypes" control="yesNoSwitch" value="1" />
		</fieldset>
	</tab>
</form>